/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.text-field{
    -fx-background-color:  #fff;
    -fx-prompt-text-fill: #6f6f6f;
    -fx-text-fill: #333;
}

.date-picker{
    -fx-border: none;
}

.chart-legend {
    -fx-background-color: #fff
}

.table-row-cell:last-row .table-cell{
    -fx-alignment: center-right;
}
